USE [master]
GO
/****** Object:  Database [ControlActivosTI]    Script Date: 27/05/2026 13:28:39 ******/
CREATE DATABASE [ControlActivosTI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlActivosTI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ControlActivosTI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlActivosTI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ControlActivosTI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlActivosTI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlActivosTI]
GO
/****** Object:  Table [dbo].[Dim_Estados]    Script Date: 27/05/2026 13:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Estados](
	[Dim_Estado_ID] [varchar](10) NOT NULL,
	[Estado_Operativo] [varchar](50) NULL,
	[Requiere_Atencion] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dim_Estado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Hardware]    Script Date: 27/05/2026 13:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Hardware](
	[Dim_Hardware_ID] [varchar](10) NOT NULL,
	[Tipo_Dispositivo] [varchar](50) NULL,
	[Marca] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Criticidad] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dim_Hardware_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Proveedores]    Script Date: 27/05/2026 13:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Proveedores](
	[Dim_Proveedor_ID] [varchar](10) NOT NULL,
	[Proveedor] [varchar](50) NULL,
	[Contacto_Soporte] [varchar](50) NULL,
	[Garantia_Extendida] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dim_Proveedor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Ubicaciones]    Script Date: 27/05/2026 13:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Ubicaciones](
	[Dim_Ubicacion_ID] [varchar](10) NOT NULL,
	[Sede] [varchar](50) NULL,
	[Area_Especifica] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dim_Ubicacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Inventario]    Script Date: 27/05/2026 13:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Inventario](
	[Asset_ID] [varchar](10) NOT NULL,
	[Dim_Hardware_ID] [varchar](10) NULL,
	[Dim_Ubicacion_ID] [varchar](10) NULL,
	[Dim_Estado_ID] [varchar](10) NULL,
	[Dim_Proveedor_ID] [varchar](10) NULL,
	[Fecha_Compra] [date] NULL,
	[Fecha_Ultima_Inspeccion] [date] NULL,
	[Costo_USD] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Asset_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Inventario]  WITH CHECK ADD FOREIGN KEY([Dim_Estado_ID])
REFERENCES [dbo].[Dim_Estados] ([Dim_Estado_ID])
GO
ALTER TABLE [dbo].[Fact_Inventario]  WITH CHECK ADD FOREIGN KEY([Dim_Hardware_ID])
REFERENCES [dbo].[Dim_Hardware] ([Dim_Hardware_ID])
GO
ALTER TABLE [dbo].[Fact_Inventario]  WITH CHECK ADD FOREIGN KEY([Dim_Proveedor_ID])
REFERENCES [dbo].[Dim_Proveedores] ([Dim_Proveedor_ID])
GO
ALTER TABLE [dbo].[Fact_Inventario]  WITH CHECK ADD FOREIGN KEY([Dim_Ubicacion_ID])
REFERENCES [dbo].[Dim_Ubicaciones] ([Dim_Ubicacion_ID])
GO
USE [master]
GO
